In [38]:
import requests
import pandas as pd
import numpy as np
import random
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from geopy.distance import vincenty

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [37]:
spray = pd.read_csv("/Users/christophermarker/Documents/DSI7/Data/Project_4/west_nile/input/spray.csv")

In [4]:
test = pd.read_csv("/Users/christophermarker/Documents/DSI7/Data/Project_4/west_nile/input/test.csv")

In [272]:
train = pd.read_csv("/Users/christophermarker/Documents/DSI7/Data/Project_4/west_nile/input/train.csv")

In [6]:
weather = pd.read_csv("/Users/christophermarker/Documents/DSI7/Data/Project_4/west_nile/input/weather.csv")

In [21]:
spray.Date.value_counts()

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [35]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,lat_long
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,"(41.95469, -87.800991)"
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,"(41.95469, -87.800991)"
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,"(41.994991, -87.769279)"
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,"(41.974089, -87.824812)"
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,"(41.974089, -87.824812)"

In [27]:
train['lat_long'] = list(zip(train['Latitude'], train['Longitude']))

In [70]:
our_spot = (42.004805,-87.817460)

In [271]:
train['distance_2_spray'] = train['lat_long'].apply(lambda row: vincenty(row, our_spot).miles)

In [72]:
train['near_spray_spot'] = [1 if i <= 1 else 0 for i in train['distance_2_spray']]

In [73]:
train['near_spray_spot'].value_counts()

0    10390
1      116
Name: near_spray_spot, dtype: int64

In [74]:
keepmetest = train[train['near_spray_spot'] == 1]

In [78]:
keepmetest['NumMosquitos'].describe()

count    116.000000
mean      13.836207
std       15.615457
min        1.000000
25%        2.000000
50%        8.000000
75%       18.000000
max       50.000000
Name: NumMosquitos, dtype: float64

In [82]:
keepmetest['DayRunner']=pd.to_datetime(keepmetest['Date']).dt.dayofyear

In [85]:
keepmetest['Datetime'] = pd.to_datetime(keepmetest['Date'])

In [86]:
keepmetest['Year']=keepmetest['Date'].str.split('-').str[0].astype(int)
keepmetest=keepmetest[keepmetest['Year']==2013]
keepmetest.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,lat_long,distance_2_spray,near_spray_spot,Year,DayRunner,Datetime
8188,2013-06-07,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,1,0,"(42.009876, -87.807277)",0.630276,1,2013,158,2013-06-07
8308,2013-06-14,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,17,0,"(42.009876, -87.807277)",0.630276,1,2013,165,2013-06-14

In [105]:
def analyze_spray(train, spray, spray_date_list, day_runner_ref_list, dist=1):
    ref_counter = 0
    for date in spray_date_list:
        spray_temp = spray[spray['Date'] == date]
        train_temp = train[train['Year'] == int(date.split('-')[0])]
        lat_long_list = list(spray_temp.lat_long.values)
            for lat_long in lat_long_list:
                train_temp['distance_to_spray'] = train_temp['lat_long'].apply(lambda row: vincenty(row, lat_long).miles)
                train_temp_2 = train_temp[train_temp['distance_to_spray'] <= dist]
                train_temp_2['days_removed'] = train_temp_2['DayRunner'].apply(lambda x:x - day_runner_ref_list[ref_counter])
                lat_long_list_2 = list(train_temp_2.lat_long.values)
                for lat_long_2 in lat_long_list_2:
                    
                for i in list(range(-10, 41)):

In [ ]:
spray_day =

In [153]:
keepmetest

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,lat_long,distance_2_spray,near_spray_spot,Year,DayRunner,Datetime
8188,2013-06-07,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,1,0,"(42.009876, -87.807277)",0.630276,1,2013,158,2013-06-07
8308,2013-06-14,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,17,0,"(42.009876, -87.807277)",0.630276,1,2013,165,2013-06-14
8309,2013-06-14,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,2,0,"(42.009876, -87.807277)",0.630276,1,2013,165,2013-06-14
8422,2013-06-21,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,1,0,"(42.009876, -87.807277)",0.630276,1,2013,172,2013-06-21
8423,2013-06-21,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,1,0,"(42.009876, -87.807277)",0.630276,1,2013,172,2013-06-21
8488,2013-06-27,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,2,0,"(42.009876, -87.807277)",0.630276,1,2013,178,2013-06-27
8489,2013-06-27,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,2,0,"(42.009876, -87.807277)",0.630276,1,2013,178,2013-06-27
8664,2013-07-08,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,2,0,"(42.009876, -87.807277)",0.630276,1,2013,189,2013-07-08
8846,2013-07-12,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,10,0,"(42.009876, -87.807277)",0.630276,1,2013,193,2013-07-12
9023,2013-07-19,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,25,0,"(42.009876, -87.807277)",0.630276,1,2013,200,2013-07-19
9024,2013-07-19,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,8,0,"(42.009876, -87.807277)",0.630276,1,2013,200,2013-07-19
9182,2013-07-25,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,13,0,"(42.009876, -87.807277)",0.630276,1,2013,206,2013-07-25
9183,2013-07-25,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,3,0,"(42.009876, -87.807277)",0.630276,1,2013,206,2013-07-25
9362,2013-08-01,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,13,0,"(42.009876, -87.807277)",0.630276,1,2013,213,2013-08-01
9363,2013-08-01,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,2,0,"(42.009876, -87.807277)",0.630276,1,2013,213,2013-08-01
9364,2013-08-01,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,4,0,"(42.009876, -87.807277)",0.630276,1,2013,213,2013-08-01
9544,2013-08-08,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,"(42.009876, -87.807277)",0.630276,1,2013,220,2013-08-08
9545,2013-08-08,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,45,0,"(42.009876, -87.807277)",0.630276,1,2013,220,2013-08-08
9546,2013-08-08,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,0,"(42.009876, -87.807277)",0.630276,1,2013,220,2013-08-08
9700,2013-08-15,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,11,0,"(42.009876, -87.807277)",0.630276,1,2013,227,2013-08-15
9701,2013-08-15,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,23,0,"(42.009876, -87.807277)",0.630276,1,2013,227,2013-08-15
9868,2013-08-22,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,13,0,"(42.009876, -87.807277)",0.630276,1,2013,234,2013-08-22
9869,2013-08-22,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,18,0,"(42.009876, -87.807277)",0.630276,1,2013,234,2013-08-22
9870,2013-08-22,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,48,1,"(42.009876, -87.807277)",0.630276,1,2013,234,2013-08-22
10011,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,"(42.009876, -87.807277)",0.630276,1,2013,241,2013-08-29
10012,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,0,"(42.009876, -87.807277)",0.630276,1,2013,241,2013-08-29
10013,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,"(42.009876, -87.807277)",0.630276,1,2013,241,2013-08-29
10014,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,"(42.009876, -87.807277)",0.630276,1,2013,241,2013-08-29
10157,2013-09-06,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,15,1,"(42.009876, -87.807277)",0.630276,1,2013,249,2013-09-06
10158,2013-09-06,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,18,1,"(42.009876, -87.807277)",0.630276,1,2013,249,2013-09-06
10296,2013-09-12,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,9,0,"(42.009876, -87.807277)",0.630276,1,2013,255,2013-09-12
10297,2013-09-12,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,33,0,"(42.009876, -87.807277)",0.630276,1,2013,255,2013-09-12
10410,2013-09-19,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,21,0,"(42.009876, -87.807277)",0.630276,1,2013,262,2013-09-19
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0,"(42.009876, -87.807277)",0.630276,1,2013,269,2013-09-26

In [ ]:
train

In [8]:
weather

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,M,0.0,0.00,29.57,30.29,14.4,11,15.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
12,1,2007-05-07,83,47,65,10,41,54,0,0,...,RA,0,M,0.0,T,29.38,30.12,8.6,18,10.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
14,1,2007-05-08,82,54,68,12,58,62,0,3,...,BR,0,M,0.0,0.00,29.29,30.03,2.7,11,5.8
15,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
16,1,2007-05-09,77,61,69,13,59,63,0,4,...,BR HZ,0,M,0.0,0.13,29.21,29.94,3.9,9,6.2
17,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
18,1,2007-05-10,84,56,70,14,52,60,0,5,...,BR,0,M,0.0,0.00,29.20,29.92,0.7,17,4.1
19,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9
20,1,2007-05-11,70,51,61,4,42,51,4,0,...,,0,M,0.0,0.00,29.33,30.04,11.3,3,12.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,,M,M,M,0.00,29.39,30.03,11.7,36,12.8
22,1,2007-05-12,64,46,55,-2,36,46,10,0,...,,0,M,0.0,0.00,29.49,30.20,12.4,3,12.9
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,,M,M,M,0.00,29.54,30.19,12.7,1,13.0
24,1,2007-05-13,69,43,56,-2,33,46,9,0,...,,0,M,0.0,0.00,29.49,30.24,6.6,14,8.1
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,,M,M,M,0.00,29.55,30.24,6.4,11,7.6
26,1,2007-05-14,90,56,73,15,47,59,0,8,...,,0,M,0.0,0.00,29.23,29.97,16.9,21,17.3
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,,M,M,M,0.00,29.31,29.98,14.1,21,14.6
28,1,2007-05-15,80,57,69,11,56,61,0,4,...,RA BR,0,M,0.0,0.38,29.13,29.84,8.1,27,12.3
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,TSRA RA BR,M,M,M,0.60,29.19,29.83,8.1,25,10.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,1,2014-10-17,62,48,55,3,46,50,10,0,...,,0,M,0.0,T,28.99,29.69,11.1,29,13.2
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,,M,M,M,0.01,29.05,29.69,10.7,28,12.7
2916,1,2014-10-18,50,36,43,-8,38,42,22,0,...,RA DZ,0,M,0.0,0.01,29.39,30.08,8.2,34,9.2
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,RA,M,M,M,0.02,29.44,30.08,7.6,34,8.7
2918,1,2014-10-19,54,33,44,-7,38,43,21,0,...,,0,M,0.0,0.00,29.31,30.07,7.8,21,8.2
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,,M,M,M,0.00,29.39,30.09,8.8,21,9.0
2920,1,2014-10-20,65,46,56,6,44,49,9,0,...,,0,M,0.0,0.01,29.17,29.90,4.7,32,9.3
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,,M,M,M,0.00,29.23,29.90,4.9,32,9.1
2922,1,2014-10-21,53,45,49,-1,39,44,16,0,...,,0,M,0.0,0.00,29.46,30.16,10.8,1,11.4
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,,M,M,M,0.00,29.51,30.15,11.0,36,11.6
2924,1,2014-10-22,56,35,46,-4,38,43,19,0,...,,0,M,0.0,0.00,29.56,30.30,2.9,8,4.8
2925,2,2014-10-22,56,43,50,M,38,44,15,0,...,,M,M,M,0.00,29.62,30.30,3.0,11,5.1
2926,1,2014-10-23,59,36,48,-1,40,45,17,0,...,BR,0,M,0.0,0.00,29.39,30.15,7.5,19,7.8
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,BR,M,M,M,T,29.46,30.16,7.9,19,8.4
2928,1,2014-10-24,67,52,60,11,46,52,5,0,...,,0,M,0.0,0.00,29.25,30.00,4.4,22,5.8
2929,2,2014-10-24,68,54,61,M,48,53,4,0,...,,M,M,M,0.00,29.31,30.00,4.9,22,5.8
2930,1,2014-10-25,72,49,61,13,40,51,4,0,...,BR,0,M,0.0,0.00,29.21,29.93,10.4,29,10.9
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,BR HZ,M,M,M,0.00,29.27,29.92,9.7,28,10.4
2932,1,2014-10-26,64,42,53,5,32,44,12,0,...,,0,M,0.0,0.00,29.21,29.95,0.9,5,5.8
2933,2,2014-10-26,66,44,55,M,33,45,10,0,...,,M,M,M,0.00,29.28,29.95,1.6,11,5.4
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,,0,M,0.0,0.00,28.92,29.66,12.0,19,12.9
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,,0,M,0.0,T,29.15,29.85,14.8,26,15.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,,0,M,0.0,0.00,29.36,30.06,9.5,29,9.9
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,,0,M,0.0,0.00,29.34,30.09,5.1,24,5.5
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,RA SN,0,M,0.1,0.03,29.49,30.20,22.6,34,22.9
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [22]:
keepme = spray[spray['Date'] == '2011-08-29']

In [65]:
spray.tail()

             Date        Time   Latitude  Longitude
14830  2013-09-05  8:34:11 PM  42.006587 -87.812355
14831  2013-09-05  8:35:01 PM  42.006192 -87.816015
14832  2013-09-05  8:35:21 PM  42.006022 -87.817392
14833  2013-09-05  8:35:31 PM  42.005453 -87.817423
14834  2013-09-05  8:35:41 PM  42.004805 -87.817460

In [64]:
keepme.tail(30)

          Date        Time   Latitude  Longitude
65  2011-08-29  7:09:18 PM  42.391270 -88.096035
66  2011-08-29  7:09:28 PM  42.391238 -88.096468
67  2011-08-29  7:09:38 PM  42.390952 -88.096437
68  2011-08-29  7:09:48 PM  42.390642 -88.096440
69  2011-08-29  7:09:58 PM  42.390335 -88.096443
70  2011-08-29  7:10:08 PM  42.390048 -88.096435
71  2011-08-29  7:10:18 PM  42.389870 -88.096258
72  2011-08-29  7:10:28 PM  42.389867 -88.095878
73  2011-08-29  7:10:38 PM  42.389858 -88.095487
74  2011-08-29  7:10:48 PM  42.389855 -88.095080
75  2011-08-29  7:10:58 PM  42.389843 -88.094667
76  2011-08-29  7:11:08 PM  42.389835 -88.094218
77  2011-08-29  7:11:18 PM  42.389712 -88.093910
78  2011-08-29  7:11:28 PM  42.389460 -88.093895
79  2011-08-29  7:11:58 PM  42.389722 -88.093833
80  2011-08-29  7:12:28 PM  42.389857 -88.094905
81  2011-08-29  7:12:38 PM  42.390067 -88.095155
82  2011-08-29  7:12:48 PM  42.390570 -88.095143
83  2011-08-29  7:12:58 PM  42.390953 -88.095145
84  2011-08-29  7:13:08 PM  42.391225 -88.095153
85  2011-08-29  7:13:18 PM  42.391532 -88.095155
86  2011-08-29  7:13:28 PM  42.391855 -88.095172
87  2011-08-29  7:14:08 PM  42.392988 -88.094970
88  2011-08-29  7:14:18 PM  42.393053 -88.094515
89  2011-08-29  7:14:28 PM  42.393093 -88.094055
90  2011-08-29  7:14:38 PM  42.392902 -88.093853
91  2011-08-29  7:14:48 PM  42.392587 -88.093867
92  2011-08-29  7:14:58 PM  42.392308 -88.093873
93  2011-08-29  7:15:18 PM  42.392183 -88.093767
94  2011-08-29  7:15:28 PM  42.392508 -88.093847

In [26]:
keepme.nunique()

Date          1
Time         95
Latitude     95
Longitude    86
dtype: int64

In [88]:
spray.Date.value_counts()

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [9]:
train['Species'].value_counts()

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

In [273]:
train['Year']=train['Date'].str.split('-').str[0].astype(int)
train['DayRunner']=pd.to_datetime(train['Date']).dt.dayofyear
train['lat_long'] = list(zip(train['Latitude'], train['Longitude']))

In [98]:
spray['Year']=spray['Date'].str.split('-').str[0].astype(int)
spray['DayRunner']=pd.to_datetime(spray['Date']).dt.dayofyear
spray['lat_long'] = list(zip(spray['Latitude'], spray['Longitude']))

In [104]:
spray_date_list = ['2013-08-15', '2013-08-29', '2013-07-17', '2011-09-07', '2013-07-25', '2013-08-22', 
                   '2013-08-08', '2013-09-05', '2013-08-16', '2011-08-29']

In [126]:
day_runner_ref = pd.DataFrame({'dates':spray_date_list})

In [128]:
day_runner_ref['DayRunner']=pd.to_datetime(day_runner_ref['dates']).dt.dayofyear

In [134]:
day_runner_ref_list = list(day_runner_ref['DayRunner'].values)

In [246]:
ref_list = list(zip(spray_date_list,day_runner_ref_list))

In [247]:
ref_list

[('2013-08-15', 227),
 ('2013-08-29', 241),
 ('2013-07-17', 198),
 ('2011-09-07', 250),
 ('2013-07-25', 206),
 ('2013-08-22', 234),
 ('2013-08-08', 220),
 ('2013-09-05', 248),
 ('2013-08-16', 228),
 ('2011-08-29', 241)]

In [191]:
spray_analysis = pd.DataFrame(columns=['Date', 'lat_long', '-10', '-9','-8','-7','-6','-5','-4','-3','-2','-1','0'
                             ,'1','2','3','4','5','6','7','8','9','10','11','12','13','14','15'
                             ,'16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33'
                             ,'34','35','36','37','38','39', '40'])

In [217]:
spray_analysis

Empty DataFrame
Columns: [Date, lat_long, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
Index: []

[0 rows x 53 columns]

In [226]:
def analyze_spray(train, spray, ref_list, dist=1):
    spray_analysis = pd.DataFrame(columns=['Date', 'lat_long', '-10', '-9','-8','-7','-6','-5','-4','-3','-2','-1','0',
                                           '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17',
                                           '18','19','20','21','22','23','24','25','26','27','28','29','30','31','32',
                                           '33','34','35','36','37','38','39', '40'])
    for date in ref_list:
        spray_temp = spray[spray['Date'] == date[0]]
        train_temp = train[train['Year'] == int(date[0].split('-')[0])]
        lat_long_list = list(spray_temp.lat_long.values)
        #try:
        for lat_long in lat_long_list:
            train_temp['distance_to_spray'] = train_temp['lat_long'].apply(lambda row: vincenty(row, lat_long).miles)
            train_temp_2 = train_temp[train_temp['distance_to_spray'] <= dist]
            train_temp_2['days_removed'] = train_temp_2['DayRunner'].apply(lambda x:x - date[1])
            train_temp_2 = train_temp_2[(train_temp_2['days_removed'] >= -10) & (train_temp_2['days_removed'] <= 40)]
            lat_long_list_2 = list(train_temp_2.lat_long.unique())
            for lat_long_2 in lat_long_list_2:
                train_temp_3 = train_temp_2[train_temp_2['lat_long'] == lat_long_2]
                one_row = pd.DataFrame({'Date':date[0], 
                                            'lat_long':lat_long_2, 
                                            '-10':
(train_temp_3.loc[train_temp_3['days_removed'] == -10, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -10, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-9':
(train_temp_3.loc[train_temp_3['days_removed'] == -9, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -9, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-8':
(train_temp_3.loc[train_temp_3['days_removed'] == -8, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -8, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-7':
(train_temp_3.loc[train_temp_3['days_removed'] == -7, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -7, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-6':
(train_temp_3.loc[train_temp_3['days_removed'] == -6, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -6, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-5':
(train_temp_3.loc[train_temp_3['days_removed'] == -5, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -5, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-4':
(train_temp_3.loc[train_temp_3['days_removed'] == -4, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -4, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-3':
(train_temp_3.loc[train_temp_3['days_removed'] == -3, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -3, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-2':
(train_temp_3.loc[train_temp_3['days_removed'] == -2, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -2, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '-1':
(train_temp_3.loc[train_temp_3['days_removed'] == -1, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == -1, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '0':
(train_temp_3.loc[train_temp_3['days_removed'] == 0, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 0, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '1':
(train_temp_3.loc[train_temp_3['days_removed'] == 1, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 1, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '2':
(train_temp_3.loc[train_temp_3['days_removed'] == 2, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 2, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '3':
(train_temp_3.loc[train_temp_3['days_removed'] == 3, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 3, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '4':
(train_temp_3.loc[train_temp_3['days_removed'] == 4, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 4, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '5':
(train_temp_3.loc[train_temp_3['days_removed'] == 5, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 5, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '6':
(train_temp_3.loc[train_temp_3['days_removed'] == 6, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 6, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '7':
(train_temp_3.loc[train_temp_3['days_removed'] == 7, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 7, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '8':
(train_temp_3.loc[train_temp_3['days_removed'] == 8, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 8, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '9':
(train_temp_3.loc[train_temp_3['days_removed'] == 9, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 9, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '10':
(train_temp_3.loc[train_temp_3['days_removed'] == 10, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 10, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '11':
(train_temp_3.loc[train_temp_3['days_removed'] == 11, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 11, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '12':
(train_temp_3.loc[train_temp_3['days_removed'] == 12, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 12, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '13':
(train_temp_3.loc[train_temp_3['days_removed'] == 13, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 13, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '14':
(train_temp_3.loc[train_temp_3['days_removed'] == 14, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 14, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '15':
(train_temp_3.loc[train_temp_3['days_removed'] == 15, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 15, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '16':
(train_temp_3.loc[train_temp_3['days_removed'] == 16, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 16, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '17':
(train_temp_3.loc[train_temp_3['days_removed'] == 17, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 17, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '18':
(train_temp_3.loc[train_temp_3['days_removed'] == 18, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 18, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '19':
(train_temp_3.loc[train_temp_3['days_removed'] == 19, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 19, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '20':
(train_temp_3.loc[train_temp_3['days_removed'] == 20, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 20, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '21':
(train_temp_3.loc[train_temp_3['days_removed'] == 21, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 21, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '22':
(train_temp_3.loc[train_temp_3['days_removed'] == 22, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 22, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '23':
(train_temp_3.loc[train_temp_3['days_removed'] == 23, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 23, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '24':
(train_temp_3.loc[train_temp_3['days_removed'] == 24, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 24, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '25':
(train_temp_3.loc[train_temp_3['days_removed'] == 25, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 25, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '26':
(train_temp_3.loc[train_temp_3['days_removed'] == 26, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 26, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '27':
(train_temp_3.loc[train_temp_3['days_removed'] == 27, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 27, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '28':
(train_temp_3.loc[train_temp_3['days_removed'] == 28, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 28, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '29':
(train_temp_3.loc[train_temp_3['days_removed'] == 29, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 29, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '30':
(train_temp_3.loc[train_temp_3['days_removed'] == 30, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 30, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '31':
(train_temp_3.loc[train_temp_3['days_removed'] == 31, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 31, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '32':
(train_temp_3.loc[train_temp_3['days_removed'] == 32, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 32, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '33':
(train_temp_3.loc[train_temp_3['days_removed'] == 33, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 33, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '34':
(train_temp_3.loc[train_temp_3['days_removed'] == 34, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 34, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '35':
(train_temp_3.loc[train_temp_3['days_removed'] == 35, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 35, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '36':
(train_temp_3.loc[train_temp_3['days_removed'] == 36, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 36, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '37':
(train_temp_3.loc[train_temp_3['days_removed'] == 37, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 37, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '38':
(train_temp_3.loc[train_temp_3['days_removed'] == 38, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 38, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '39':
(train_temp_3.loc[train_temp_3['days_removed'] == 39, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 39, 'NumMosquitos'].values) != 0 else np.NaN), 
                                            '40':
(train_temp_3.loc[train_temp_3['days_removed'] == 40, 'NumMosquitos'].values[-1] if 
len(train_temp_3.loc[train_temp_3['days_removed'] == 40, 'NumMosquitos'].values) != 0 else np.NaN)})
                spray_analysis = spray_analysis.append(one_row)
        #except:
            #pass
                                        
        ref_counter += 1
    return spray_analysis

In [227]:
test = analyze_spray(train, spray, spray_date_list, day_runner_ref_list, dist=1)

/Users/christophermarker/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/christophermarker/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [232]:
test.describe()

,-1,-10,-2,-3,-4,-5,-6,-8,-9,1,...,37,38,39,4,40,5,6,8,9,lat_long
count,376.000000,0.0,0.0,0.0,0.0,9120.000000,4828.000000,376.000000,9120.00000,1728.000000,...,0.0,0.0,0.0,0.0,0.0,1846.000000,376.000000,11686.000000,1906.000000,32022.000000
mean,4.143617,NaN,NaN,NaN,NaN,26.352412,16.644988,14.946809,15.99057,17.944444,...,NaN,NaN,NaN,NaN,NaN,1.954496,5.904255,13.773575,6.947534,-22.919453
std,1.406883,NaN,NaN,NaN,NaN,17.663414,10.880383,2.271526,10.65536,0.328766,...,NaN,NaN,NaN,NaN,NaN,0.208463,3.397471,9.913545,1.373685,64.797588
min,2.000000,NaN,NaN,NaN,NaN,4.000000,3.000000,2.000000,2.00000,16.000000,...,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,2.000000,2.000000,-87.832763
25%,4.000000,NaN,NaN,NaN,NaN,4.000000,4.000000,13.000000,10.00000,18.000000,...,NaN,NaN,NaN,NaN,NaN,2.000000,4.000000,2.000000,7.000000,-87.703047
50%,4.000000,NaN,NaN,NaN,NaN,39.000000,26.000000,16.000000,14.00000,18.000000,...,NaN,NaN,NaN,NaN,NaN,2.000000,4.000000,13.000000,7.000000,-22.933136
75%,4.000000,NaN,NaN,NaN,NaN,44.000000,26.000000,16.000000,18.00000,18.000000,...,NaN,NaN,NaN,NaN,NaN,2.000000,4.750000,20.000000,7.000000,41.923738
max,15.000000,NaN,NaN,NaN,NaN,50.000000,26.000000,16.000000,42.00000,18.000000,...,NaN,NaN,NaN,NaN,NaN,2.000000,12.000000,50.000000,12.000000,42.009876

In [125]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,lat_long,distance_2_spray,near_spray_spot,Year,DayRunner
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,"(41.95469, -87.800991)",3.561274,0,2007,149
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,"(41.95469, -87.800991)",3.561274,0,2007,149
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,"(41.994991, -87.769279)",2.571233,0,2007,149
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,"(41.974089, -87.824812)",2.153478,0,2007,149
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,"(41.974089, -87.824812)",2.153478,0,2007,149

In [193]:
train.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
lat_long                   object
distance_2_spray          float64
near_spray_spot             int64
Year                        int64
DayRunner                   int64
dtype: object

In [141]:
train_test = train.copy()

In [143]:
train_test['days_removed'] = train_test['DayRunner'].apply(lambda x:x - day_runner_ref_list[0])

In [108]:
spray_test = spray[spray['Date'] == '2011-08-29']

In [116]:
gh = list(spray_test.lat_long.values)

In [151]:
for i in list(range(-10, 41)):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [118]:
date1 = '2013-08-15'

In [123]:
date1 = int(date.split('-')[0])

In [124]:
date1

2013

In [99]:
spray.head()

,Date,Time,Latitude,Longitude,Year,DayRunner,lat_long
0,2011-08-29,6:56:58 PM,42.391623,-88.089163,2011,241,"(42.3916233333, -88.0891633333)"
1,2011-08-29,6:57:08 PM,42.391348,-88.089163,2011,241,"(42.3913483333, -88.0891633333)"
2,2011-08-29,6:57:18 PM,42.391022,-88.089157,2011,241,"(42.3910216667, -88.0891566667)"
3,2011-08-29,6:57:28 PM,42.390637,-88.089158,2011,241,"(42.3906366667, -88.0891583333)"
4,2011-08-29,6:57:38 PM,42.390410,-88.088858,2011,241,"(42.39041, -88.0888583333)"

In [283]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,DayRunner,lat_long
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,2007,149,"(41.95469, -87.800991)"
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,2007,149,"(41.95469, -87.800991)"
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,2007,149,"(41.994991, -87.769279)"
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,2007,149,"(41.974089, -87.824812)"
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,2007,149,"(41.974089, -87.824812)"

In [ ]:
spray_date_list =

In [100]:
spray.Date.value_counts()

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [205]:
test_df = pd.DataFrame({'chili':['chili1', 'chili2', 'chili1'], 
                                            'munky':['munky1', 'munky2', 'arg'], 
                                            'donkey':['donkey1', 'donkey2', np.NaN],
                                               'NUMBERS':[1,2,3
                                                    ]})

In [206]:
test_df

   NUMBERS   chili   donkey   munky
0        1  chili1  donkey1  munky1
1        2  chili2  donkey2  munky2
2        3  chili1      NaN     arg

In [190]:
test_df.isnull().sum()

chili     0
donkey    1
munky     0
dtype: int64

In [210]:
# df.loc[(df['Store Number'] == 3591) & (df['County'] == 'Webster'), 'County'] = 'Hardin'

test_df.loc[test_df['chili'] == 'chili1', 'munky'].values[-1]

'arg'

In [166]:
np.mean([10])

10.0

In [186]:
n = (test_df.loc[test_df['chili'] == 'g', 'munky'].values[-1] if 
len(test_df.loc[test_df['chili'] == 'g', 'munky'].values) != 0 else np.NaN)

In [207]:
test_df2 = test_df[(test_df['NUMBERS'] > 1) & (test_df['NUMBERS'] < 3)]

In [208]:
test_df2

   NUMBERS   chili   donkey   munky
1        2  chili2  donkey2  munky2

In [188]:
type(n)

float

In [185]:
test_df.replace('clarg',np.NaN)

    chili   donkey   munky
0  chili1  donkey1  munky1
1  chili2  donkey2  munky2
2  chili1      NaN     arg

In [225]:
list(test_df.chili.unique())

['chili1', 'chili2']

In [250]:
date = ref_list[0]

227

In [241]:
tupleguylist = [('a', 45), ('b', 46), ('c', 47)]

In [243]:
tupleguylist[1][1]

46

In [252]:
spray_temp = spray[spray['Date'] == date[0]]

In [278]:
train_temp = train[train['Year'] == int(date[0].split('-')[0])]

In [287]:
train_temp.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,DayRunner,lat_long,distance_to_spray
8114,2013-06-07,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,19,0,2013,158,"(41.95469, -87.800991)",0.781718
8115,2013-06-07,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0,2013,158,"(41.867108, -87.654224)",9.576018
8116,2013-06-07,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,1,0,2013,158,"(41.921965, -87.632085)",9.210220
8117,2013-06-07,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,4,0,2013,158,"(41.720848, -87.666014)",17.104709
8118,2013-06-07,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX PIPIENS/RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,4,0,2013,158,"(41.732984, -87.649642)",16.747985

In [262]:
spray_temp.lat_long.nunique()

2668

In [276]:
spray_temp.shape

(2668, 7)

In [258]:
lat_long_list = list(spray_temp.lat_long.values)

In [259]:
lat_long_list

[(41.944718333333299, -87.8081866666667),
 (41.944125, -87.808176666666697),
 (41.943768333333296, -87.808161666666692),
 (41.943404999999998, -87.808153333333308),
 (41.942983333333295, -87.808134999999993),
 (41.942518333333297, -87.808125000000004),
 (41.941740000000003, -87.808099999999996),
 (41.941406666666701, -87.8080966666667),
 (41.941020000000002, -87.808080000000004),
 (41.940581666666702, -87.808075000000002),
 (41.940109999999997, -87.808056666666701),
 (41.939638333333299, -87.8080383333333),
 (41.939225, -87.808014999999997),
 (41.938793333333294, -87.808006666666699),
 (41.9385616666667, -87.8081283333333),
 (41.9385616666667, -87.808630000000008),
 (41.938556666666706, -87.808936666666696),
 (41.938773333333295, -87.809173333333305),
 (41.939176666666704, -87.809190000000001),
 (41.939476666666707, -87.809193333333297),
 (41.9398816666667, -87.809201666666695),
 (41.940788333333295, -87.8092616666667),
 (41.941231666666702, -87.809271666666703),
 (41.941668333333297, -87.809294999999992),
 (41.942075000000003, -87.809308333333306),
 (41.942486666666703, -87.809333333333299),
 (41.942823333333294, -87.809344999999993),
 (41.9431716666667, -87.809356666666702),
 (41.943600000000004, -87.809361666666703),
 (41.944063333333297, -87.809381666666695),
 (41.944503333333294, -87.809403333333307),
 (41.944686666666705, -87.809921666666696),
 (41.944683333333295, -87.810311666666692),
 (41.944673333333299, -87.810961666666699),
 (41.944541666666701, -87.811698333333297),
 (41.944189999999999, -87.811674999999994),
 (41.943871666666702, -87.811671666666697),
 (41.943533333333299, -87.811648333333295),
 (41.9431266666667, -87.811608333333297),
 (41.9426183333333, -87.811578333333301),
 (41.942163333333298, -87.81156),
 (41.941731666666705, -87.811538333333303),
 (41.941309999999994, -87.811518333333296),
 (41.940896666666703, -87.811490000000006),
 (41.940100000000001, -87.811428333333296),
 (41.939683333333299, -87.811418333333307),
 (41.939245, -87.811396666666695),
 (41.938796666666704, -87.811361666666699),
 (41.938495000000003, -87.811428333333296),
 (41.938488333333297, -87.811881666666693),
 (41.938478333333293, -87.812341666666697),
 (41.938749999999999, -87.812871666666695),
 (41.939556666666704, -87.812905000000001),
 (41.939968333333297, -87.812926666666698),
 (41.940296666666704, -87.812943333333308),
 (41.940708333333298, -87.812969999999993),
 (41.9410283333333, -87.81298000000001),
 (41.9413633333333, -87.812993333333296),
 (41.941808333333299, -87.813005000000004),
 (41.942088333333295, -87.813016666666698),
 (41.942495000000001, -87.813013333333302),
 (41.942890000000006, -87.813028333333307),
 (41.943234999999994, -87.813031666666703),
 (41.943726666666706, -87.813051666666695),
 (41.944191666666704, -87.8130666666667),
 (41.944546666666703, -87.813086666666692),
 (41.9445816666667, -87.813476666666702),
 (41.944573333333295, -87.813876666666701),
 (41.944573333333295, -87.814194999999998),
 (41.944286666666706, -87.81429),
 (41.943984999999998, -87.814253333333298),
 (41.943696666666703, -87.814266666666697),
 (41.943381666666703, -87.814273333333304),
 (41.942990000000002, -87.814236666666702),
 (41.942630000000001, -87.814239999999998),
 (41.942203333333296, -87.814233333333306),
 (41.941854999999997, -87.814208333333298),
 (41.941485, -87.8142),
 (41.9410283333333, -87.814184999999995),
 (41.940620000000003, -87.814173333333301),
 (41.940248333333294, -87.814151666666703),
 (41.939855000000001, -87.814143333333305),
 (41.939398333333294, -87.814126666666695),
 (41.9390516666667, -87.814115000000001),
 (41.938676666666701, -87.814101666666701),
 (41.938503333333294, -87.814243333333295),
 (41.938436666666703, -87.814826666666704),
 (41.938425000000002, -87.815174999999996),
 (41.938699999999997, -87.815340000000006),
 (41.939188333333298, -87.815375000000003),
 (41.939570000000003, -87.8153783333333),
 (41.940116666666704, -87.815401666666702),
 (41.9407, -87.815421666666694),
 (41.941211666666703, -87.815419999999989),
 (41.941643333333296, -87.815443333333306),
 (41.942171666666702, -87.815463333333298),
 (41.942633333333298, -87.815484999999995),
 (41.943058333333298, -87.815503333333297),
 (41.943516666666703, -87.815518333333301),
 (41.944035, -87.815534999999997),
 (41.944476666666702, -87.815559999999991),
 (41.944501666666703, -87.815950000000001),
 (41.9444983333333, -87.816445000000002),
 (41.944323333333294, -87.816699999999997),
 (41.943956666666701, -87.816693333333305),
 (41.943526666666706, -87.816701666666702),
 (41.943114999999999, -87.816708333333295),
 (41.942636666666701, -87.816696666666701),
 (41.94218, -87.816696666666701),
 (41.9418333333333, -87.816676666666694),
 (41.9414916666667, -87.8166783333333),
 (41.941116666666701, -87.816676666666694),
 (41.940688333333298, -87.816670000000002),
 (41.9402683333333, -87.816656666666702),
 (41.939799999999998, -87.816634999999991),
 (41.939253333333298, -87.816611666666702),
 (41.938798333333295, -87.816599999999994),
 (41.93853, -87.816755000000001),
 (41.938506666666704, -87.817269999999994),
 (41.938465000000001, -87.817651666666706),
 (41.938749999999999, -87.817766666666699),
 (41.939138333333297, -87.817781666666704),
 (41.939533333333294, -87.817783333333296),
 (41.940024999999999, -87.817805000000007),
 (41.940528333333297, -87.817830000000001),
 (41.94106, -87.8178566666667),
 (41.941520000000004, -87.817886666666695),
 (41.941881666666703, -87.817911666666703),
 (41.942720000000001, -87.817938333333302),
 (41.94314, -87.817953333333307),
 (41.943631666666704, -87.817980000000006),
 (41.944101666666704, -87.818004999999999),
 (41.944556666666706, -87.818015000000003),
 (41.944988333333299, -87.818031666666698),
 (41.945553333333294, -87.818066666666695),
 (41.945976666666702, -87.818178333333307),
 (41.946391666666706, -87.818301666666699),
 (41.946868333333299, -87.818318333333295),
 (41.947229999999998, -87.818331666666694),
 (41.947641666666705, -87.818353333333306),
 (41.948023333333296, -87.818380000000005),
 (41.948441666666703, -87.818408333333295),
 (41.949021666666702, -87.818258333333304),
 (41.949228333333295, -87.817886666666695),
 (41.949539999999999, -87.817774999999997),
 (41.9503566666667, -87.817803333333302),
 (41.950749999999999, -87.817706666666695),
 (41.951121666666701, -87.817715000000007),
 (41.951673333333297, -87.817741666666691),
 (41.951948333333299, -87.817278333333306),
 (41.951716666666705, -87.817111666666705),
 (41.951295000000002, -87.817084999999992),
 (41.950845000000001, -87.817063333333309),
 (41.95046, -87.817041666666697),
 (41.949703333333296, -87.817001666666698),
 (41.949113333333294, -87.816971666666703),
 (41.948560000000001, -87.816956666666698),
 (41.948025000000001, -87.816933333333296),
 (41.947499999999998, -87.816923333333307),
 (41.946963333333294, -87.816896666666693),
 (41.946525000000001, -87.816861666666696),
 (41.946114999999999, -87.816838333333308),
 (41.945763333333296, -87.816819999999993),
 (41.945668333333295, -87.816563333333306),
 (41.945679999999996, -87.816091666666694),
 (41.945683333333299, -87.815708333333305),
 (41.946003333333294, -87.815676666666704),
 (41.946488333333299, -87.815696666666696),
 (41.946966666666704, -87.815705000000008),
 (41.947479999999999, -87.815718333333308),
 (41.947991666666702, -87.815731666666693),
 (41.948513333333295, -87.815753333333305),
 (41.948990000000002, -87.815771666666691),
 (41.94941, -87.816043333333297),
 (41.949568333333296, -87.816068333333305),
 (41.950000000000003, -87.81553000000001),
 (41.950451666666702, -87.815821666666693),
 (41.950809999999997, -87.815838333333303),
 (41.951236666666702, -87.81586999999999),
 (41.951636666666701, -87.8158866666667),
 (41.952023333333294, -87.815915000000004),
 (41.952101666666707, -87.815576666666701),
 (41.95214, -87.815263333333306),
 (41.952143333333296, -87.814921666666692),
 (41.951938333333295, -87.814730000000012),
 (41.951421666666704, -87.814698333333297),
 (41.950920000000004, -87.814641666666702),
 (41.9505883333333, -87.8143933333333),
 (41.950240000000001, -87.814890000000005),
 (41.949801666666701, -87.814689999999999),
 (41.949249999999999, -87.814568333333298),
 (41.948751666666702, -87.814553333333308),
 (41.948176666666704, -87.8145283333333),
 (41.947603333333298, -87.814506666666702),
 (41.946988333333294, -87.814478333333298),
 (41.946465000000003, -87.814446666666697),
 (41.945951666666701, -87.814436666666694),
 (41.9456633333333, -87.814255000000003),
 (41.945681666666701, -87.813869999999994),
 (41.945681666666701, -87.813500000000005),
 (41.945693333333296, -87.813269999999989),
 (41.945978333333294, -87.813249999999996),
 (41.946801666666701, -87.813268333333298),
 (41.947316666666701, -87.813281666666697),
 (41.947848333333297, -87.813294999999997),
 (41.948328333333293, -87.813325000000006),
 (41.948761666666705, -87.813333333333304),
 (41.949293333333294, -87.813355000000001),
 (41.949874999999999, -87.813374999999994),
 (41.950331666666706, -87.813486666666705),
 (41.950731666666705, -87.813651666666701),
 (41.951138333333297, -87.813209999999998),
 (41.951576666666703, -87.813458333333301),
 (41.951900000000002, -87.813479999999998),
 (41.952138333333295, -87.81335),
 (41.952148333333298, -87.812946666666704),
 (41.952143333333296, -87.812305000000009),
 (41.951798333333294, -87.812276666666705),
 (41.951048333333297, -87.812200000000004),
 (41.950526666666704, -87.812136666666703),
 (41.950009999999999, -87.812108333333299),
 (41.9495066666667, -87.812076666666698),
 (41.948675000000001, -87.812016666666693),
 (41.948, -87.811959999999999),
 (41.947499999999998, -87.811928333333299),
 (41.947015, -87.811899999999994),
 (41.946556666666702, -87.811868333333308),
 (41.946125000000002, -87.811831666666691),
 (41.945795000000004, -87.811786666666706),
 (41.945783333333296, -87.811281666666702),
 (41.945783333333296, -87.810866666666698),
 (41.945943333333297, -87.810676666666694),
 (41.946363333333295, -87.810681666666696),
 (41.946748333333296, -87.810698333333306),
 (41.947203333333299, -87.810726666666696),
 (41.947616666666704, -87.810741666666701),
 (41.948076666666701, -87.810760000000002),
 (41.948471666666705, -87.810784999999996),
 (41.948830000000001, -87.810811666666694),
 (41.949363333333295, -87.810831666666701),
 (41.9498866666667, -87.810848333333297),
 (41.950379999999996, -87.810878333333307),
 (41.950811666666702, -87.8109033333333),
 (41.951353333333294, -87.810916666666699),
 (41.951823333333294, -87.810936666666692),
 (41.952163333333296, -87.810611666666702),
 (41.9521983333333, -87.8102016666667),
 (41.952233333333297, -87.809878333333302),
 (41.952255000000001, -87.809458333333296),
 (41.952275, -87.808736666666704),
 (41.952098333333296, -87.808543333333304),
 (41.951756666666704, -87.808525000000003),
 (41.951378333333295, -87.808505000000011),
 (41.950876666666701, -87.808493333333303),
 (41.9504016666667, -87.808455000000009),
 (41.949854999999999, -87.808428333333296),
 (41.949329999999996, -87.808423333333295),
 (41.948929999999997, -87.80839499999999),
 (41.948401666666705, -87.808365000000009),
 (41.948039999999999, -87.808353333333301),
 (41.9476333333333, -87.808333333333294),
 (41.947216666666705, -87.808318333333304),
 (41.946486666666701, -87.808281666666701),
 (41.946015000000003, -87.808256666666693),
 (41.945605, -87.808243333333309),
 (41.945478333333298, -87.805838333333298),
 (41.945970000000003, -87.805848333333302),
 (41.946463333333298, -87.805873333333295),
 (41.946941666666703, -87.8058883333333),
 (41.947418333333296, -87.805903333333305),
 (41.947918333333298, -87.805918333333295),
 (41.948481666666702, -87.805940000000007),
 (41.94896, -87.805956666666702),
 (41.949415000000002, -87.805988333333303),
 (41.949883333333297, -87.806010000000001),
 (41.950369999999999, -87.806025000000005),
 (41.950834999999998, -87.806053333333296),
 (41.9512966666667, -87.806080000000009),
 (41.951796666666702, -87.806105000000002),
 (41.952191666666707, -87.806143333333296),
 (41.9525583333333, -87.804898333333298),
 (41.952091666666703, -87.804873333333305),
 (41.951548333333299, -87.804850000000002),
 (41.951031666666701, -87.804818333333301),
 (41.950551666666705, -87.804791666666702),
 (41.950150000000001, -87.8047683333333),
 (41.949708333333298, -87.804756666666705),
 (41.949311666666702, -87.804734999999994),
 (41.948879999999996, -87.804719999999989),
 (41.948343333333298, -87.8046966666667),
 (41.947856666666702, -87.804676666666694),
 (41.947346666666704, -87.804653333333306),
 (41.9468483333333, -87.804630000000003),
 (41.946325000000002, -87.804603333333304),
 (41.945819999999998, -87.804583333333298),
 (41.945411666666701, -87.803881666666697),
 (41.945574999999998, -87.803356666666701),
 (41.945950000000003, -87.803368333333296),
 (41.946353333333299, -87.803383333333301),
 (41.946726666666706, -87.803403333333307),
 (41.94706, -87.803419999999988),
 (41.947499999999998, -87.803449999999998),
 (41.947945000000004, -87.803463333333298),
 (41.948403333333296, -87.803496666666703),
 (41.948819999999998, -87.803498333333295),
 (41.949734999999997, -87.803533333333306),
 (41.95017, -87.803546666666705),
 (41.950603333333298, -87.803584999999998),
 (41.9510966666667, -87.803608333333301),
 (41.951524999999997, -87.803636666666705),
 (41.951934999999999, -87.8036483333333),
 (41.952391666666706, -87.801181666666693),
 (41.951963333333296, -87.801151666666698),
 (41.951570000000004, -87.801133333333297),
 (41.951221666666704, -87.801114999999996),
 (41.950838333333294, -87.801078333333308),
 (41.950293333333299, -87.801048333333299),
 (41.949763333333294, -87.801016666666698),
 (41.949266666666702, -87.801003333333298),
 (41.948824999999999, -87.800988333333308),
 (41.948451666666706, -87.800966666666696),
 (41.948038333333294, -87.800933333333305),
 (41.9476783333333, -87.800926666666697),
 (41.947326666666704, -87.800913333333298),
 (41.946894999999998, -87.800906666666705),
 (41.946478333333296, -87.800878333333301),
 (41.946163333333295, -87.800858333333295),
 (41.945726666666701, -87.800841666666699),
 (41.945561666666705, -87.799673333333303),
 (41.945851666666705, -87.799661666666694),
 (41.946238333333298, -87.799689999999998),
 (41.946703333333296, -87.799711666666695),
 (41.947561666666701, -87.799761666666697),
 (41.9478716666667, -87.799791666666692),
 (41.948270000000001, -87.799813333333304),
 (41.948659999999997, -87.799818333333306),
 (41.949061666666701, -87.7998433333333),
 (41.949571666666706, -87.799856666666699),
 (41.949916666666702, -87.799868333333308),
 (41.950706666666704, -87.799913333333308),
 (41.951233333333299, -87.799923333333297),
 (41.951650000000001, -87.799941666666697),
 (41.952026666666704, -87.799948333333305),
 (41.952213333333297, -87.799776666666702),
 (41.952213333333297, -87.799341666666692),
 (41.952218333333299, -87.798978333333295),
 (41.952150000000003, -87.798728333333301),
 (41.951688333333294, -87.798719999999989),
 (41.951216666666703, -87.798699999999997),
 (41.950798333333296, -87.798691666666699),
 (41.950344999999999, -87.798675000000003),
 (41.949946666666705, -87.798655000000011),
 (41.949570000000001, -87.798638333333301),
 (41.949196666666701, -87.798618333333295),
 (41.948790000000002, -87.798601666666698),
 (41.948340000000002, -87.798583333333298),
 (41.9478266666667, -87.798558333333304),
 (41.947379999999995, -87.798541666666694),
 (41.946881666666705, -87.7985166666667),
 (41.946339999999999, -87.798498333333299),
 (41.945844999999998, -87.798479999999998),
 (41.945538333333296, -87.797796666666699),
 (41.945578333333295, -87.7972933333333),
 (41.946031666666705, -87.797274999999999),
 (41.946534999999997, -87.797280000000001),
 (41.947043333333298, -87.797311666666701),
 (41.947531666666706, -87.797331666666693),
 (41.947998333333295, -87.79735500000001),
 (41.94847, -87.797381666666695),
 (41.948925000000003, -87.797408333333308),
 (41.949411666666705, -87.797419999999988),
 (41.949826666666702, -87.797436666666698),
 (41.950236666666704, -87.797465000000003),
 (41.950690000000002, -87.797484999999995),
 (41.951143333333299, -87.797511666666693),
 (41.951675000000002, -87.797538333333307),
 (41.9521266666667, -87.797551666666692),
 (41.952271666666704, -87.797838333333303),
 (41.952276666666705, -87.798281666666696),
 (41.952293333333294, -87.798661666666703),
 (41.951876666666706, -87.798716666666692),
 (41.951306666666703, -87.7986966666667),
 (41.950806666666701, -87.798680000000004),
 (41.950344999999999, -87.798656666666702),
 (41.949856666666705, -87.798641666666697),
 (41.949475, -87.798618333333295),
 (41.949121666666706, -87.798673333333298),
 (41.9490883333333, -87.799959999999999),
 (41.949073333333295, -87.800644999999989),
 (41.949051666666705, -87.801296666666701),
 (41.9490433333333, -87.801978333333295),
 (41.949040000000004, -87.802615000000003),
 (41.949026666666704, -87.803240000000002),
 (41.949015000000003, -87.803923333333302),
 (41.949001666666703, -87.804540000000003),
 (41.9485666666667, -87.804631666666694),
 (41.948036666666702, -87.804596666666697),
 (41.947534999999995, -87.804568333333307),
 (41.947123333333295, -87.8045616666667),
 (41.946595000000002, -87.804535000000001),
 (41.946063333333299, -87.8045166666667),
 (41.945583333333296, -87.804505000000006),
 (41.945183333333297, -87.804486666666705),
 (41.944800000000001, -87.804479999999998),
 (41.944331666666706, -87.804465000000008),
 (41.943926666666705, -87.804455000000004),
 (41.943528333333298, -87.804438333333295),
 (41.943065000000004, -87.804430000000011),
 (41.942551666666702, -87.804419999999993),
 (41.942081666666702, -87.804401666666692),
 (41.941648333333298, -87.804391666666703),
 (41.941119999999998, -87.804380000000009),
 (41.940579999999997, -87.804353333333296),
 (41.940213333333297, -87.8043366666667),
 (41.939766666666706, -87.804328333333302),
 (41.939183333333297, -87.804311666666692),
 (41.938733333333296, -87.804303333333309),
 (41.938665, -87.803951666666705),
 (41.938656666666702, -87.803571666666699),
 (41.938794999999999, -87.803156666666695),
 (41.939128333333294, -87.803183333333308),
 (41.939526666666701, -87.803201666666695),
 (41.939934999999998, -87.8032166666667),
 (41.940449999999998, -87.803238333333297),
 (41.9409383333333, -87.803263333333305),
 (41.941393333333295, -87.803274999999999),
 (41.94173, -87.803291666666695),
 (41.942178333333295, -87.803298333333302),
 (41.942651666666706, -87.803301666666698),
 (41.943138333333295, -87.803319999999999),
 (41.943546666666705, -87.803340000000006),
 (41.944040000000001, -87.80335500000001),
 (41.944551666666705, -87.803370000000001),
 (41.944784999999996, -87.803166666666698),
 (41.944790000000005, -87.802683333333306),
 (41.944781666666707, -87.802353333333301),
 (41.944798333333296, -87.802001666666698),
 (41.944478333333294, -87.801566666666702),
 (41.944175000000001, -87.801541666666694),
 (41.943796666666707, -87.801486666666705),
 (41.943440000000002, -87.801508333333302),
 (41.943038333333298, -87.801503333333301),
 (41.942671666666705, -87.8014716666667),
 (41.942246666666705, -87.801441666666705),
 (41.941393333333295, -87.801368333333301),
 (41.940965000000006, -87.801366666666695),
 (41.940428333333294, -87.801343333333307),
 (41.939996666666701, -87.801311666666692),
 (41.939455000000002, -87.801276666666695),
 (41.938951666666703, -87.801259999999999),
 (41.938468333333297, -87.801243333333304),
 (41.938334999999995, -87.799458333333305),
 (41.938845000000001, -87.7995016666667),
 (41.939348333333299, -87.799520000000001),
 (41.939766666666706, -87.799480000000003),
 (41.940228333333295, -87.799476666666692),
 (41.940631666666704, -87.799488333333301),
 (41.941054999999999, -87.799520000000001),
 (41.9414983333333, -87.799508333333307),
 (41.941645000000001, -87.799138333333303),
 (41.941853333333299, -87.798966666666701),
 (41.94218, -87.798971666666702),
 (41.942486666666703, -87.798971666666702),
 (41.942869999999999, -87.798990000000003),

In [253]:
spray_temp.shape

(2668, 7)

In [286]:
train_temp['distance_to_spray'] = train_temp['lat_long'].apply(lambda row: vincenty(row, lat_long_list[0]).miles)

/Users/christophermarker/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [326]:
spray_analysis

,1-7_days_after_avg,10_days_prior_avg,15-21_days_after_avg,22-28_days_after_avg,29-35_days_after_avg,36-42_days_after_avg,8-14_days_after_avg,Date,lat_long
0,23.0,32.666667,NaN,NaN,13.5,23.333333,23.333333,2013-08-15,41.954690
1,23.0,32.666667,NaN,NaN,13.5,23.333333,23.333333,2013-08-15,-87.800991

In [291]:
lat_long_list_2

(41.954689999999999, -87.800990999999996)

In [297]:
train_temp_3

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,DayRunner,lat_long,distance_to_spray,days_removed
9372,2013-08-08,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,27,1,2013,220,"(41.95469, -87.800991)",0.781718,-7
9373,2013-08-08,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,50,0,2013,220,"(41.95469, -87.800991)",0.781718,-7
9374,2013-08-08,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,50,1,2013,220,"(41.95469, -87.800991)",0.781718,-7
9375,2013-08-08,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,13,0,2013,220,"(41.95469, -87.800991)",0.781718,-7
9376,2013-08-08,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,43,1,2013,220,"(41.95469, -87.800991)",0.781718,-7
9377,2013-08-08,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,13,1,2013,220,"(41.95469, -87.800991)",0.781718,-7
9553,2013-08-15,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,6,0,2013,227,"(41.95469, -87.800991)",0.781718,0
9554,2013-08-15,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,2013,227,"(41.95469, -87.800991)",0.781718,0
9555,2013-08-15,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,4,0,2013,227,"(41.95469, -87.800991)",0.781718,0
9710,2013-08-22,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,34,1,2013,234,"(41.95469, -87.800991)",0.781718,7
9711,2013-08-22,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,12,1,2013,234,"(41.95469, -87.800991)",0.781718,7
9877,2013-08-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,22,0,2013,241,"(41.95469, -87.800991)",0.781718,14
9878,2013-08-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,13,0,2013,241,"(41.95469, -87.800991)",0.781718,14
9879,2013-08-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,35,1,2013,241,"(41.95469, -87.800991)",0.781718,14
10020,2013-09-06,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,50,0,2013,249,"(41.95469, -87.800991)",0.781718,22
10021,2013-09-06,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,3,0,2013,249,"(41.95469, -87.800991)",0.781718,22
10022,2013-09-06,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,37,0,2013,249,"(41.95469, -87.800991)",0.781718,22
10163,2013-09-12,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,12,0,2013,255,"(41.95469, -87.800991)",0.781718,28
10164,2013-09-12,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,32,1,2013,255,"(41.95469, -87.800991)",0.781718,28
10302,2013-09-19,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,4,0,2013,262,"(41.95469, -87.800991)",0.781718,35
10303,2013-09-19,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,23,0,2013,262,"(41.95469, -87.800991)",0.781718,35

In [303]:
np.mean(train_temp_3[(train_temp_3['days_removed'] >= 15) & (train_temp_3['days_removed'] <= 21)].NumMosquitos.values)

23.0

In [327]:
for x, y in lat_long_list_2[:2]:
    print(x,y)

41.95469 -87.800991

In [329]:
dist=1
date = ref_list[0]
spray_analysis = pd.DataFrame(columns=['Date', 'lat_long', '10_days_prior_avg','1-7_days_after_avg',
                                       '8-14_days_after_avg','15-21_days_after_avg','22-28_days_after_avg',
                                       '29-35_days_after_avg','36-42_days_after_avg'])
spray_temp = spray[spray['Date'] == date[0]]
train_temp = train[train['Year'] == int(date[0].split('-')[0])]
lat_long_list = list(spray_temp.lat_long.values)
train_temp['distance_to_spray'] = train_temp['lat_long'].apply(lambda row: vincenty(row, lat_long_list[0]).miles)
train_temp_2 = train_temp[train_temp['distance_to_spray'] <= dist]
train_temp_2['days_removed'] = train_temp_2['DayRunner'].apply(lambda x:x - date[1])
train_temp_2 = train_temp_2[(train_temp_2['days_removed'] >= -10) & (train_temp_2['days_removed'] <= 42)]
lat_long_list_2 = list(train_temp_2.lat_long.unique())
for x, y in lat_long_list_2:
#     print(lat_long_2)
#     print(train_temp_2.iloc[0]['lat_long'])
#     print(train_temp_2[train_temp_2['lat_long'] == lat_long_2] )
    train_temp_3 = train_temp_2[train_temp_2['lat_long'] == (x,y)]  
    one_row = pd.DataFrame({'Date':date[0], 'lat_long':(x,y), 
    '10_days_prior_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= -10) & (train_temp_3['days_removed'] < 0)].NumMosquitos.values),
    '1-7_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 1) & (train_temp_3['days_removed'] <= 7)].NumMosquitos.values),
    '8-14_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 8) & (train_temp_3['days_removed'] <= 14)].NumMosquitos.values),
    '15-21_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 15) & (train_temp_3['days_removed'] <= 21)].NumMosquitos.values),
    '22-28_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 28) & (train_temp_3['days_removed'] <= 14)].NumMosquitos.values),
    '29-35_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 29) & (train_temp_3['days_removed'] <= 35)].NumMosquitos.values),
    '36-42_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 8) & (train_temp_3['days_removed'] <= 14)].NumMosquitos.values)})                        

    spray_analysis = spray_analysis.append(one_row)

/Users/christophermarker/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/christophermarker/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/christophermarker/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/christophermarker/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [330]:
spray_analysis

,1-7_days_after_avg,10_days_prior_avg,15-21_days_after_avg,22-28_days_after_avg,29-35_days_after_avg,36-42_days_after_avg,8-14_days_after_avg,Date,lat_long
0,23.0,32.666667,NaN,NaN,13.5,23.333333,23.333333,2013-08-15,41.954690
1,23.0,32.666667,NaN,NaN,13.5,23.333333,23.333333,2013-08-15,-87.800991

In [315]:
ref_list

[('2013-08-15', 227),
 ('2013-08-29', 241),
 ('2013-07-17', 198),
 ('2011-09-07', 250),
 ('2013-07-25', 206),
 ('2013-08-22', 234),
 ('2013-08-08', 220),
 ('2013-09-05', 248),
 ('2013-08-16', 228),
 ('2011-08-29', 241)]

In [ ]:
def analyze_spray(train, spray, ref_list, dist=1):
    spray_analysis = pd.DataFrame(columns=['Date', 'lat_long', '10_days_prior_avg','1-7_days_after_avg',
                                       '8-14_days_after_avg','15-21_days_after_avg','22-28_days_after_avg',
                                       '29-35_days_after_avg','36-42_days_after_avg'])
    for date in ref_list:
        spray_temp = spray[spray['Date'] == date[0]]
        train_temp = train[train['Year'] == int(date[0].split('-')[0])]
        lat_long_list = list(spray_temp.lat_long.values)
        #try:
        for lat_long in lat_long_list:
            train_temp['distance_to_spray'] = train_temp['lat_long'].apply(lambda row: vincenty(row, lat_long).miles)
            train_temp_2 = train_temp[train_temp['distance_to_spray'] <= dist]
            train_temp_2['days_removed'] = train_temp_2['DayRunner'].apply(lambda x:x - date[1])
            train_temp_2 = train_temp_2[(train_temp_2['days_removed'] >= -10) & (train_temp_2['days_removed'] <= 42)]
            lat_long_list_2 = list(train_temp_2.lat_long.unique())
            for lat_long_2 in lat_long_list_2:
                train_temp_3 = train_temp_2[train_temp_2['lat_long'] == lat_long_2]
                one_row = pd.DataFrame({'Date':date[0], 'lat_long':lat_long_2, 
    '10_days_prior_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= -10) & (train_temp_3['days_removed'] < 0)].NumMosquitos.values),
    '1-7_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 1) & (train_temp_3['days_removed'] <= 7)].NumMosquitos.values),
    '8-14_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 8) & (train_temp_3['days_removed'] <= 14)].NumMosquitos.values),
    '15-21_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 15) & (train_temp_3['days_removed'] <= 21)].NumMosquitos.values),
    '22-28_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 28) & (train_temp_3['days_removed'] <= 14)].NumMosquitos.values),
    '29-35_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 29) & (train_temp_3['days_removed'] <= 35)].NumMosquitos.values),
    '36-42_days_after_avg':np.mean(train_temp_3[(train_temp_3['days_removed'] >= 8) & (train_temp_3['days_removed'] <= 14)].NumMosquitos.values)})                        

                spray_analysis = spray_analysis.append(one_row)