![wn chicago](chicago.png)

# In Class Predict West Nile in Chicago

https://www.kaggle.com/c/predict-west-nile-virus

Use the training set, incorporating weather and mosquito spray data as you see fit to predict occurances of West Nile in Chicago.

Details on the data can be found on the Kaggle competition's data page

### Step 1:

In groups of 3 or more, map out your strategy. 

Consider:
* What data will you use? 
* What processing might you need?
* What will your overall workflow look like? 

Write it down.


### Step 2:

Build your model


### Step 3:

Use your trained model on the testing data.

Generate a submission dataframe (Check out the sample submission for an example)

Save your submission dataframe as a .csv

Submit your submission to the Kaggle leaderboard (the competition is closed) at https://www.kaggle.com/c/predict-west-nile-virus/submit

In [1]:
import pandas as pd

In [2]:
path = '../../2_dataset/west_nile/'

In [3]:
train = pd.read_csv(path+'train.csv')
weather = pd.read_csv(path+'weather.csv')
spray = pd.read_csv(path+'spray.csv')
test = pd.read_csv(path+'test.csv')
sample_sub = pd.read_csv(path+'sampleSubmission.csv')

In [8]:
sample_sub.head()

   Id  WnvPresent
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0

In [15]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858