In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
%%javascript
$('.nbp-app-bar').toggle()

## Merge the `reading` and `weather` datasets

In [3]:
readings=pd.read_csv('readings.csv')
print(readings.shape)
readings.head()

(10506, 71)

,Date,Virus,Month,Year,DayRunner,ALTER,PIPIENS,PIPIENS-RESTUANS,RESTUANS,to_hotspot0,...,to_chompspot21,to_chompspot22,to_chompspot23,to_chompspot24,to_chompspot25,to_chompspot26,to_chompspot27,to_chompspot28,to_chompspot29,near_chompspot
0,2007-05-29,0,5,2007,149,0,0,1,0,3.079677,...,11.263500,5.786629,3.965003,2.652090,7.304187,17.179444,9.684294,1.265442,13.605184,3
1,2007-05-29,0,5,2007,149,0,0,0,1,3.079677,...,11.263500,5.786629,3.965003,2.652090,7.304187,17.179444,9.684294,1.265442,13.605184,3
2,2007-05-29,0,5,2007,149,0,0,0,1,1.384109,...,13.650572,7.141099,2.457542,5.666729,5.340835,19.107044,10.632935,1.960821,15.787463,2
3,2007-05-29,0,5,2007,149,0,0,1,0,2.291628,...,12.927720,7.594822,2.678098,4.182596,8.225423,18.936432,11.481809,1.914798,15.317866,3
4,2007-05-29,0,5,2007,149,0,0,0,1,2.291628,...,12.927720,7.594822,2.678098,4.182596,8.225423,18.936432,11.481809,1.914798,15.317866,3

In [4]:
weather=pd.read_csv('weather2.csv')
print(weather.shape)
weather.head()

(1472, 20)

,Date,Tmax,Tmin,rainy,dry,Dry_Wet_Diff,Slowdown,Speedy,Tmax-1,rainy-1,dry-1,Dry_Wet_Diff-1,Slowdown-1,Speedy-1,Tmax-2,rainy-2,dry-2,Dry_Wet_Diff-2,Slowdown-2,Speedy-2
0,2007-05-01,84,52,0,1,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-05-02,60,43,0,1,0,0,1,84.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-05-03,67,48,0,1,1,0,1,60.0,0.0,1.0,0.0,0.0,1.0,84.0,0.0,1.0,1.0,1.0,0.0
3,2007-05-04,78,51,1,1,1,1,1,67.0,0.0,1.0,1.0,0.0,1.0,60.0,0.0,1.0,0.0,0.0,1.0
4,2007-05-05,66,54,0,1,1,0,1,78.0,1.0,1.0,1.0,1.0,1.0,67.0,0.0,1.0,1.0,0.0,1.0

In [5]:
chicago=pd.merge(readings, weather, on='Date').drop('Date', axis=1);
print(chicago.shape)
chicago.head()

(10506, 89)

,Virus,Month,Year,DayRunner,ALTER,PIPIENS,PIPIENS-RESTUANS,RESTUANS,to_hotspot0,to_hotspot1,...,dry-1,Dry_Wet_Diff-1,Slowdown-1,Speedy-1,Tmax-2,rainy-2,dry-2,Dry_Wet_Diff-2,Slowdown-2,Speedy-2
0,0,5,2007,149,0,0,1,0,3.079677,2.464653,...,1.0,1.0,1.0,0.0,75.0,1.0,1.0,1.0,1.0,0.0
1,0,5,2007,149,0,0,0,1,3.079677,2.464653,...,1.0,1.0,1.0,0.0,75.0,1.0,1.0,1.0,1.0,0.0
2,0,5,2007,149,0,0,0,1,1.384109,1.470153,...,1.0,1.0,1.0,0.0,75.0,1.0,1.0,1.0,1.0,0.0
3,0,5,2007,149,0,0,1,0,2.291628,1.811580,...,1.0,1.0,1.0,0.0,75.0,1.0,1.0,1.0,1.0,0.0
4,0,5,2007,149,0,0,0,1,2.291628,1.811580,...,1.0,1.0,1.0,0.0,75.0,1.0,1.0,1.0,1.0,0.0

In [6]:
chicago.columns

Index(['Virus', 'Month', 'Year', 'DayRunner', 'ALTER', 'PIPIENS',
       'PIPIENS-RESTUANS', 'RESTUANS', 'to_hotspot0', 'to_hotspot1',
       'to_hotspot2', 'to_hotspot3', 'to_hotspot4', 'to_hotspot5',
       'to_hotspot6', 'to_hotspot7', 'to_hotspot8', 'to_hotspot9',
       'to_hotspot10', 'to_hotspot11', 'to_hotspot12', 'to_hotspot13',
       'to_hotspot14', 'to_hotspot15', 'to_hotspot16', 'to_hotspot17',
       'to_hotspot18', 'to_hotspot19', 'to_hotspot20', 'to_hotspot21',
       'to_hotspot22', 'to_hotspot23', 'to_hotspot24', 'to_hotspot25',
       'to_hotspot26', 'to_hotspot27', 'to_hotspot28', 'to_hotspot29',
       'near_hotspot', 'to_chompspot0', 'to_chompspot1', 'to_chompspot2',
       'to_chompspot3', 'to_chompspot4', 'to_chompspot5', 'to_chompspot6',
       'to_chompspot7', 'to_chompspot8', 'to_chompspot9', 'to_chompspot10',
       'to_chompspot11', 'to_chompspot12', 'to_chompspot13', 'to_chompspot14',
       'to_chompspot15', 'to_chompspot16', 'to_chompspot17', 'to_chompspot18',
       'to_chompspot19', 'to_chompspot20', 'to_chompspot21', 'to_chompspot22',
       'to_chompspot23', 'to_chompspot24', 'to_chompspot25', 'to_chompspot26',
       'to_chompspot27', 'to_chompspot28', 'to_chompspot29', 'near_chompspot',
       'Tmax', 'Tmin', 'rainy', 'dry', 'Dry_Wet_Diff', 'Slowdown', 'Speedy',
       'Tmax-1', 'rainy-1', 'dry-1', 'Dry_Wet_Diff-1', 'Slowdown-1',
       'Speedy-1', 'Tmax-2', 'rainy-2', 'dry-2', 'Dry_Wet_Diff-2',
       'Slowdown-2', 'Speedy-2'],
      dtype='object')

## Examine Association of Features with Outcome

In [7]:
# Number of Mosquitoes in the Trap
print(chicago.loc[chicago['Virus']==0]['NumMosquitos'].mean())
print(chicago.loc[chicago['Virus']==1]['NumMosquitos'].mean())
ax = plt.figure(figsize=(8,4))
ax=sns.barplot(x='Virus', y='NumMosquitos', data=chicago);
ax.set(ylabel='Number of Mosquitos in Trap', xlabel='At least one mosquito in trap has virus', 
       Title='Virus is More Common in High-Volume Traps');

KeyError: 'NumMosquitos'

In [ ]:
# Month
ax=plt.figure(figsize=(8,4))
ax=sns.barplot(x='Month', y='Virus', data=chicago)
ax.set(ylabel='Percent of Traps with Virus', Title='August is the Worst Month')

In [ ]:
# species of mosquito
ax=sns.barplot(x='PIPIENS', y='Virus', data=chicago)
ax.set(ylabel='Percent of Traps with Virus', xlabel='Seven Percent of Pipiens Traps Have the Virus',
      title='Pipiens is more likely to have the virus')
plt.show()
ax=sns.barplot(x='RESTUANS', y='Virus', data=chicago)
ax.set(ylabel='Percent of Traps with Virus', xlabel='Four Percent of Restuans Traps Have the Virus',
      title='Restuans is less likely to have the virus')
plt.show()
ax=sns.barplot(x='PIPIENS-RESTUANS', y='Virus', data=chicago)
ax.set(ylabel='Percent of Traps with Virus', xlabel='Four Percent of Restuans Traps Have the Virus',
      title='Restuans is less likely to have the virus')
plt.show()

In [ ]:
# High Temperature
print(chicago.loc[chicago['Virus']==0]['Tmax'].mean())
print(chicago.loc[chicago['Virus']==1]['Tmax'].mean())
ax = plt.figure(figsize=(8,4))
ax=sns.barplot(x='Virus', y='Tmax', data=chicago);
ax.set(ylabel='High Temp for the Day', xlabel='At least one mosquito in trap has virus', 
       Title='Ave Max Temp is About the Same for Virus and Non-Virus Readings');

In [ ]:
# High Temperature
print(chicago.loc[chicago['Virus']==0]['Tmin'].mean())
print(chicago.loc[chicago['Virus']==1]['Tmin'].mean())
ax = plt.figure(figsize=(8,4))
ax=sns.barplot(x='Virus', y='Tmin', data=chicago);
ax.set(ylabel='High Temp for the Day', xlabel='At least one mosquito in trap has virus', 
       Title='Ave Min Temp is Slightly Lower for Non-Virus Readings');

In [ ]:
# Rain
print('Percent of Readings  with Virus on Rainy Days:', chicago[chicago['rainy']==1]['Virus'].mean())
print('Percent of Readings  with Virus on Non-Rainy Days:', chicago[chicago['rainy']==0]['Virus'].mean())
ax=sns.barplot(x='rainy', y='Virus', data=chicago);
ax.set(title="Rain doesn't have association with virus", 
       xlabel='About 5% of traps have virtus regardless of rain');

In [ ]:
chicago['dry'].value_counts()

In [ ]:
# Dry
print('Percent of Readings  with Virus on dry Days:', chicago[chicago['dry']==1]['Virus'].mean())
print('Percent of Readings  with Virus on Non-dry Days:', chicago[chicago['dry']==0]['Virus'].mean())
ax=sns.barplot(x='dry', y='Virus', data=chicago);
ax.set(title="Dry days are less likely to have the virus", 
      xlabel='About 6% of traps have virus on non-dry days');

In [ ]:
# Dry_Wet_Diff
print('Percent of Readings  with Virus on Dry_Wet_Diff Days:', chicago[chicago['Dry_Wet_Diff']==1]['Virus'].mean())
print('Percent of Readings  with Virus on Non-Dry_Wet_Diff Days:', chicago[chicago['Dry_Wet_Diff']==0]['Virus'].mean())
ax=sns.barplot(x='Dry_Wet_Diff', y='Virus', data=chicago);
ax.set(title="When Difference Between Dewpoint and Wetbuld is Greater Than 5, there's less virus", 
      xlabel='About 6% of traps have virus on days when the difference is less than 5');

In [ ]:
# Slowdown: All the days where “ResultSpeed” value is less than “11” 
print('Percent of Readings  with Virus on Slowdown Days:', chicago[chicago['Slowdown']==1]['Virus'].mean())
print('Percent of Readings  with Virus on Non-Slowdown Days:', chicago[chicago['Slowdown']==0]['Virus'].mean())
ax=sns.barplot(x='Slowdown', y='Virus', data=chicago);
ax.set(title="Slowdown days are more likely to have the virus", 
      xlabel='About 5.5% of traps have virus on Slowdown days');

In [ ]:
# Speedy: All the days where  “AvgSpeed” value is greater than “10”
print('Percent of Readings  with Virus on Speedy Days:', chicago[chicago['Speedy']==1]['Virus'].mean())
print('Percent of Readings  with Virus on Non-Speedy Days:', chicago[chicago['Speedy']==0]['Virus'].mean())
ax=sns.barplot(x='Speedy', y='Virus', data=chicago);
ax.set(title="Speedy days are less likely to have the virus", 
      xlabel='About 2.4% of traps have virus on Speedy days');

## Create dummies for the Block variable

In [ ]:
chicago.columns

In [ ]:
# There are 160 unique blocks
print(chicago['Block'].describe())
print(chicago['Block'].nunique())

In [ ]:
# Create a block-level variable that indicates the probability that traps there will have the virus.
blox=chicago.groupby('Block')['Virus'].mean()
print(blox.describe())
print(blox.shape)
blox.head()

In [ ]:
# Most blocks are unlikely to have the virus, but a few of them do.
ax=plt.figure(figsize=(12,3)) 
ax=sns.distplot(blox, kde=False)
plt.show()

In [ ]:
# Set column names
df_blox=pd.DataFrame(blox)
df_blox.reset_index(level=0, inplace=True)
df_blox.columns=['Block', 'Virus_prob']
df_blox.head()

In [ ]:
# Merge that block-level variable back into the primary dataset
chicago=pd.merge(df_blox, chicago, on='Block')
print(chicago.columns)
chicago.head()

In [ ]:
# Bring out the dummies [decided not to do this after all].
#dummies=pd.get_dummies(chicago['Block'])
#chicago=pd.concat([chicago, dummies], axis=1)

In [ ]:
chicago.shape

## Save the dataset as .csv

In [ ]:
# Save the cleaned, engineered data
dirname = '../Austin/'
chicago.to_csv(dirname + 'chicago.csv', index=False)

In [ ]:
chicago.columns

In [ ]:
chicago.head()