In [1]:
%%javascript
$('.nbp-app-bar').toggle()

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
path = '../../kaggle_data/input/'
readings = pd.read_csv(path+'train.csv')

In [4]:
readings.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [5]:
readings['Address'].head()

0    4100 North Oak Park Avenue, Chicago, IL 60634,...
1    4100 North Oak Park Avenue, Chicago, IL 60634,...
2    6200 North Mandell Avenue, Chicago, IL 60646, USA
3      7900 West Foster Avenue, Chicago, IL 60656, USA
4      7900 West Foster Avenue, Chicago, IL 60656, USA
Name: Address, dtype: object

In [6]:
readings['Zip']=readings['Address'].str[-10:-5]

In [7]:
readings.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Zip
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,60634
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,60634

In [8]:
1508 + 750

2258

In [9]:
readings['Zip'].value_counts().head(3)

o, IL    1508
60666     750
60617     734
Name: Zip, dtype: int64

In [10]:
len(readings[readings['Zip']=='o, IL'])

1508

In [11]:
readings.shape

(10506, 13)

In [12]:
bad_zipcodes=readings.groupby(['Zip']).mean().sort_values(['NumMosquitos'], ascending=False).head()

In [13]:
bad_zipcodes.head()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Zip,,,,,,
"o, IL",22.671088,41.723548,-87.605786,4.938992,24.645225,0.052387
60666,10.000000,41.974689,-87.890615,9.000000,20.514667,0.088000
60018,91.000000,41.992478,-87.862995,8.000000,18.462500,0.075000
60803,42.000000,41.662014,-87.724608,8.000000,17.060109,0.043716
60106,10.000000,41.957799,-87.930995,5.000000,16.621429,0.071429

In [14]:
bad_zipcodes['NumMosquitos'].sort_values(ascending=False)

Zip
o, IL    24.645225
60666    20.514667
60018    18.462500
60803    17.060109
60106    16.621429
Name: NumMosquitos, dtype: float64

In [15]:
bad_zipcodes['WnvPresent'].sort_values(ascending=False)

Zip
60666    0.088000
60018    0.075000
60106    0.071429
o, IL    0.052387
60803    0.043716
Name: WnvPresent, dtype: float64

In [16]:
bad_zipcodes=readings[readings['Zip']=='o, IL']
bad_zipcodes.shape

(1508, 13)

In [17]:
bad_zipcodes['Latitude_short']=bad_zipcodes['Latitude'].round(1)
bad_zipcodes['Longitude_short']=bad_zipcodes['Longitude'].round(1)
bad_zipcodes.head(2)

/Users/austinlasseter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/austinlasseter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Zip,Latitude_short,Longitude_short
58,2007-06-05,"South Vincennes Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S VINCENNES,T089,"1000 S VINCENNES, Chicago, IL",41.723195,-87.649970,5,1,0,"o, IL",41.7,-87.6
69,2007-06-05,"Chicago, IL, USA",CULEX RESTUANS,43,N ASHLAND AVE OVERPASS,T145,"4300 N ASHLAND AVE OVERPASS, Chicago, IL",41.878114,-87.629798,3,3,0,"o, IL",41.9,-87.6

In [18]:
bad_zipcodes['lat_long'] = list(zip(bad_zipcodes['Latitude_short'], bad_zipcodes['Longitude_short']))
bad_zipcodes.head(2)

/Users/austinlasseter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Zip,Latitude_short,Longitude_short,lat_long
58,2007-06-05,"South Vincennes Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S VINCENNES,T089,"1000 S VINCENNES, Chicago, IL",41.723195,-87.649970,5,1,0,"o, IL",41.7,-87.6,"(41.7, -87.6)"
69,2007-06-05,"Chicago, IL, USA",CULEX RESTUANS,43,N ASHLAND AVE OVERPASS,T145,"4300 N ASHLAND AVE OVERPASS, Chicago, IL",41.878114,-87.629798,3,3,0,"o, IL",41.9,-87.6,"(41.9, -87.6)"

In [19]:
newzips=pd.read_csv('../../Mario/Chicago Zip Code Lat-Long Data Set.csv')
newzips.head(3)

   Zip Code   Latitude  Longitude
0     60002  42.471741 -88.084493
1     60004  42.112780 -87.979542
2     60005  42.064490 -87.985462

In [20]:
newzips['Latitude_short']=newzips['Latitude'].round(1)
newzips['Longitude_short']=newzips['Longitude'].round(1)
newzips.head(2)

   Zip Code   Latitude  Longitude  Latitude_short  Longitude_short
0     60002  42.471741 -88.084493            42.5            -88.1
1     60004  42.112780 -87.979542            42.1            -88.0

In [21]:
newzips['lat_long'] = list(zip(newzips['Latitude_short'], newzips['Longitude_short']))
newzips.head(2)

,Zip Code,Latitude,Longitude,Latitude_short,Longitude_short,lat_long
0,60002,42.471741,-88.084493,42.5,-88.1,"(42.5, -88.1)"
1,60004,42.112780,-87.979542,42.1,-88.0,"(42.1, -88.0)"

In [22]:
newzips2=newzips.groupby('lat_long').max().reset_index()
newzips2.head()

,lat_long,Zip Code,Latitude,Longitude,Latitude_short,Longitude_short
0,"(37.1, -89.3)",62962,37.075360,-89.335889,37.1,-89.3
1,"(37.1, -89.2)",62964,37.129263,-89.169921,37.1,-89.2
2,"(37.2, -89.4)",62990,37.228582,-89.398842,37.2,-89.4
3,"(37.2, -89.3)",62969,37.154393,-89.342299,37.2,-89.3
4,"(37.2, -89.2)",62996,37.221663,-89.151028,37.2,-89.2

In [23]:
bad_zipcodes.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Zip,Latitude_short,Longitude_short,lat_long
58,2007-06-05,"South Vincennes Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S VINCENNES,T089,"1000 S VINCENNES, Chicago, IL",41.723195,-87.649970,5,1,0,"o, IL",41.7,-87.6,"(41.7, -87.6)"
69,2007-06-05,"Chicago, IL, USA",CULEX RESTUANS,43,N ASHLAND AVE OVERPASS,T145,"4300 N ASHLAND AVE OVERPASS, Chicago, IL",41.878114,-87.629798,3,3,0,"o, IL",41.9,-87.6,"(41.9, -87.6)"
127,2007-06-26,"Chicago, IL, USA",CULEX RESTUANS,43,N ASHLAND AVE OVERPASS,T145,"4300 N ASHLAND AVE OVERPASS, Chicago, IL",41.878114,-87.629798,3,1,0,"o, IL",41.9,-87.6,"(41.9, -87.6)"
172,2007-06-29,"South Vincennes Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S VINCENNES,T089,"1000 S VINCENNES, Chicago, IL",41.723195,-87.649970,5,2,0,"o, IL",41.7,-87.6,"(41.7, -87.6)"
179,2007-06-29,"Chicago, IL, USA",CULEX RESTUANS,43,N ASHLAND AVE OVERPASS,T145,"4300 N ASHLAND AVE OVERPASS, Chicago, IL",41.878114,-87.629798,3,1,0,"o, IL",41.9,-87.6,"(41.9, -87.6)"

In [25]:
final=pd.merge(bad_zipcodes, newzips2, on='lat_long')

In [26]:
final.shape

(1508, 21)

In [27]:
final.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude_x', 'Longitude_x',
       'AddressAccuracy', 'NumMosquitos', 'WnvPresent', 'Zip',
       'Latitude_short_x', 'Longitude_short_x', 'lat_long', 'Zip Code',
       'Latitude_y', 'Longitude_y', 'Latitude_short_y', 'Longitude_short_y'],
      dtype='object')

In [28]:
final['Zip Code'].value_counts()

60633    1176
60653     120
60661      91
60636      91
60714      30
Name: Zip Code, dtype: int64