In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
path = '../../kaggle_data/input/'
readings = pd.read_csv(path+'train.csv')

In [9]:
readings.columns

Index(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap',
       'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy',
       'NumMosquitos', 'WnvPresent'],
      dtype='object')

In [10]:
readings['Address'].head()

0    4100 North Oak Park Avenue, Chicago, IL 60634,...
1    4100 North Oak Park Avenue, Chicago, IL 60634,...
2    6200 North Mandell Avenue, Chicago, IL 60646, USA
3      7900 West Foster Avenue, Chicago, IL 60656, USA
4      7900 West Foster Avenue, Chicago, IL 60656, USA
Name: Address, dtype: object

In [29]:
readings['Zip']=readings['Address'].str[-10:-5]

In [18]:
readings.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,ZipCode,Step,Zip
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,IL 60634,IL 60634,60634
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,IL 60634,IL 60634,60634

In [25]:
1508 + 750

2258

In [30]:
readings['Zip'].value_counts()

o, IL    1508
60666     750
60617     734
60634     502
60638     455
60646     393
60609     375
60643     321
60608     300
60639     265
60622     238
60655     237
60651     232
60632     230
60623     223
60618     214
60614     207
60707     185
60630     183
60803     183
60631     171
60637     166
60612     157
60656     153
60607     151
60106     140
60629     137
60652     126
60659     117
60619     113
60633     112
60620     111
60654     110
60625      98
60636      91
60641      89
60642      85
60626      85
60649      83
60018      80
60645      69
60621      62
60660      56
60613      54
60611      29
60605      26
60628      25
60640      21
60615      20
60827      17
60647      17
Name: Zip, dtype: int64

In [31]:
readings=readings[readings['Zip']!='o, IL']

In [32]:
readings.shape

(8998, 15)

In [34]:
zipcodes=readings.groupby(['Zip']).mean().sort_values(['NumMosquitos'], ascending=False).head()

In [35]:
zipcodes.head()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
Zip,,,,,,
60666,10.000000,41.974689,-87.890615,9.000000,20.514667,0.088000
60018,91.000000,41.992478,-87.862995,8.000000,18.462500,0.075000
60803,42.000000,41.662014,-87.724608,8.000000,17.060109,0.043716
60106,10.000000,41.957799,-87.930995,5.000000,16.621429,0.071429
60652,77.865079,41.744309,-87.726279,8.103175,16.547619,0.087302

In [38]:
zipcodes['NumMosquitos'].sort_values(ascending=False)

Zip
60666    20.514667
60018    18.462500
60803    17.060109
60106    16.621429
60652    16.547619
Name: NumMosquitos, dtype: float64

In [39]:
zipcodes['WnvPresent'].sort_values(ascending=False)

Zip
60666    0.088000
60652    0.087302
60018    0.075000
60106    0.071429
60803    0.043716
Name: WnvPresent, dtype: float64